* {
    margin: 0;
    padding: 0;
    hyphens: none;
    font-family: "Courier", sans-serif;
    text-decoration: none;
}

body {
    background: linear-gradient(180deg, rgba(12,84,96,1) 0%, rgba(55,55,55,1) 100%);
    width: 100%;
}

header {
    position: fixed;
    top: 50px;
    left: 0;
    background: linear-gradient(135deg, rgba(141,164,210,0.50) 0%, rgba(88,101,113,0.50) 100%);
    height: 150px;
    width: 90%;
    border-radius: 150px;
    margin: 0 5%;
    box-shadow: 0 10px 50px rgba(24, 24, 24, 0.8);
}

header div {
    text-align: center;
    float: left;
    height: 100%;
    width: 33.33%;
}

header img {
    display: block;
    margin: auto;
    padding: 45px 0;
    height: 60px;
}

header h1 {
    font-family: "Lato", sans-serif;
    line-height: 150px;
    color: white;
    font-size: 75px;
}

header nav {
    line-height: 150px;
    height: 100%;
    width: 100%;
}

header nav div {
    float: left;
    width: 50%;
    height: 100%;
}

header nav a {
    background: linear-gradient(135deg, rgba(12,12,12,0.5) 0%, rgba(80,80,80,0.5) 100%);
    box-shadow: 5px 5px 25px 0 rgba(24, 24, 24, 0.5);
    color: white;
    padding: 25px;
    border-radius: 150px;
}

section {
    padding-top: 200px;
}

footer {
    color: white;
    padding: 50px 50px 0;
    height: 100px;
    background: linear-gradient(135deg, rgba(0,0,0,0.5) 0%, rgba(48,48,48,0.5) 100%);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

footer h2 {
    text-align: center;
}

.text_zone {
    color: white;
    margin: 50px auto;
    width: 70%;
    padding: 75px 75px 15px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 50px;
    box-shadow: 0 10px 100px 25px rgba(48, 48, 48, 0.5);
}

.paragraph {
    padding-bottom: 50px;
    line-height: 25px;
}

.paragraph ul {
    margin-left: 50px;
}

#signup {
    margin-left: 30%;
}

#signin {
    margin-right: 30%;
}