* {
    margin: 0;
    padding: 0;
    hyphens: none;
    font-family: "Courier", sans-serif;
    text-decoration: none;
}

/*Style for all basic links in the page*/
a {
    color: rgb(48,48,48);
}

a:hover {
    color: rgb(141,164,210);
}

a:active {
    color: rgb(125, 5, 5);
}

a:visited {
    color: rgb(48,48,48);
}

/*Sets the bkg color*/
body {
    background: linear-gradient(180deg, rgba(12,84,96,1) 0%, rgba(55,55,55,1) 100%);
    width: 100%;
}

/*3 columns are created to show different links in the nav bar*/
header {
    position: fixed;
    top: 50px;
    left: 0;
    background: linear-gradient(135deg, rgba(141,164,210,0.50) 0%, rgba(88,101,113,0.50) 100%);
    height: 150px;
    width: 90%;
    border-radius: 150px;
    margin: 0 5%;
    box-shadow: 0 10px 50px rgba(24, 24, 24, 0.8);
}

header div {
    float: left;
    height: 100%;
    width: 33.33%;
    text-align: center;
}

header img {
    display: block;
    margin: auto;
    padding: 45px 0;
    height: 60px;
}

header h1 {
    font-family: "Lato", sans-serif;
    line-height: 150px;
    color: white;
    font-size: 75px;
}

header nav {
    line-height: 150px;
    height: 100%;
    width: 100%;
}

section {
    padding-top: 200px;
}

footer {
    color: white;
    padding: 50px 50px 0;
    height: 100px;
    background: linear-gradient(135deg, rgba(0,0,0,0.5) 0%, rgba(48,48,48,0.5) 100%);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

footer h4 {
    text-align: center;
}

.nav_div {
    float: left;
    width: 50%;
    height: 100%;
}

.nav_div a, .nav_div a:hover, .nav_div a:active, .nav_div a:visited {
    color: white;
}

.nav_div a {
    background: linear-gradient(135deg, rgba(12,12,12,0.5) 0%, rgba(80,80,80,0.5) 100%);
    box-shadow: 5px 5px 25px 0 rgba(24, 24, 24, 0.5);
    padding: 25px;
    border-radius: 150px;
}

.nav_div a:hover {
    background: linear-gradient(135deg, rgba(80,80,80,0.5) 0%, rgba(12,12,12,0.5) 100%);
    padding: 35px;
}

/*Creates a transparent zone where text can be shown*/
.text_zone {
    color: white;
    margin: 50px auto;
    width: 70%;
    padding: 75px 75px 15px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 50px;
    box-shadow: 0 10px 100px 25px rgba(48, 48, 48, 0.5);
}

/*Allows the creation on new text_zone inside one*/
.text_zone_inside {
    color: white;
    margin: 0 auto 50px;
    width: 70%;
    padding: 75px 75px 15px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 50px;
    box-shadow: 0 10px 100px 25px rgba(48, 48, 48, 0.5);
}

/*Sets the right spacing inside paragraphs in a text_zone*/
.paragraph {
    padding-bottom: 50px;
    line-height: 30px;
}

.paragraph ul {
    margin-left: 50px;
}

#signup {
    margin-left: 30%;
}

#signin {
    margin-right: 30%;
}

/*////////////////////////
//////////////////////////
//////////////////////////
//////////////////////////
//////////////////////////
//////////////////////////
//////////////////////////*/

#close{
    float:right;
}
#close-btn{
    font-size: 20px;
    padding: 10px;
}

#popupForm{
    display: none;
    position: fixed;
    left: 45%;
    top: 25%;
    transform: translate(-45%, 5%);
    border: none;
    z-index: 9;
}

.sign-In-or-Up{
    height: 600px;
    width: 500px;
    background-color: #0c5460;
    box-shadow: 8px 8px 20px rgb(128, 128, 128);
    position: relative;
    overflow: hidden;
}

#button{
    height: 60px;
    width: 320px;
    margin: 20px auto;
    box-shadow: 10px 10px 30px rgb(254, 215, 188);
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.signIn-btn, .signUp-btn {
    margin-left:15px;
    font-size: 22px;
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.slider {
    height: 60px;
    width: 160px;
    border-radius: 50px;
    background-image: linear-gradient(to right,
    rgb(254, 213, 1),
    rgb(254, 233, 75));
    position: absolute;
    top: 20px;
    left: 72px;
    transition: all 0.5s ease-in-out;
}

.moveslider {
    left: 235px;
}

.sections{
    height: 500px;
    width: 1000px;
    padding: 0;
    display: flex;
    position: relative;
    transition: all 0.5s ease-in-out;
    left: 0px;
}

.sections-move {
    left: -500px;
}

#signIn, #signUp {
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
}

#signIn {
    gap: 50px;
}

#signUp {
    gap: 30px;
}

form input{
    height: 60px;
    width: 400px;
    outline: none;
    border: none;
    color: rgb(77, 77, 77);
    background-color: rgb(240, 240, 240);
    border-radius: 50px;
    padding-left: 30px;
    margin-bottom:5px;
    font-size: 18px;
}

form input::placeholder{
    color:#000000;
}

.form-submit-button {
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, rgba(141, 164, 210, 0.75) 0%, rgba(93, 109, 141, 0.35) 100%);
}
.form-submit-button:hover{
    font-weight: bold;
    color:white;
    background: linear-gradient(135deg, rgba(100, 125, 150, 0.75) 0%, rgb(93, 109, 141, 0.35) 100%);
    cursor:pointer;
}
