*{
    margin: 0;
    padding: 0;
    hyphens: none;
    box-sizing: border-box;
    line-height: 150%;
}

p{
    margin-bottom: 0;
}

header{
    width: 100%;
    height: 100px;
    text-align: center;
    position: fixed;
    top: 0;
    background-color: #a9a9a9;
    border-bottom: 2px solid #000000;
}

header nav a{
    height: 30px;
    line-height: 30px;
    display: inline-block;
    width: 32%;
    background-color: rgb(111, 110, 110);
    text-align: center; 
    border: 2px solid #000000;
    color: #000000;
    text-decoration: none;
}

header nav a:hover{
    height: 35px;
    line-height: 35px;
    background-color: rgb(78, 78, 78);
    color: #bdbbbb;
    text-decoration: none;
}

section{
    margin-top: 110px;

}

section div p{
    margin: -8px 0;
}

section #chat_box{
    margin: 10px;
    padding: 60px;
    height: 480px;             /* height chat box */ /* faire du response */
    border: 2px solid #000000; 
    background-color: #e6e5e5;
}
section #barre_box{
    width: 100%;
    height: 150px;
    bottom: 0px;
    padding: 10px;
    background-color: white;
    text-align: center;
}

#barre_chat{
    display: inline-block;
    width: 79%;

}

#button_chat{
    display: inline-block;
    width: 19%;
}

footer{
    bottom: 0;
    height: 300px;
    background-color: #222222;
    color:rgb(182, 181, 181);
    width: 100%;
    position: relative;
}