*{
    margin: 0;
    padding: 0;
    hyphens: none;
    font-family: "Courier", sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

header{
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 150px;
    text-align: center;
    background: linear-gradient(135deg, rgba(141,164,210,0.50) 0%, rgba(88,101,113,0.50) 100%);
}

header h1 {
    font-family: "Lato", sans-serif;
    line-height: 150px;
    color: white;
    font-size: 75px;
}

/*header nav a{
    height: 30px;
    line-height: 30px;
    display: inline-block;
    width: 32%;
    background-color: rgb(111, 110, 110);
    text-align: center; 
    border: 2px solid #000000;
    color: #000000;
    text-decoration: none;
}

header nav a:hover{
    height: 35px;
    line-height: 35px;
    background-color: rgb(78, 78, 78);
    color: #bdbbbb;
    text-decoration: none;
}*/

section{
    padding-top: 200px;
}

.text_zone {
    color: white;
    margin: 50px auto;
    width: 70%;
    padding: 75px 75px 15px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 50px;
    box-shadow: 0 10px 100px 25px rgba(48, 48, 48, 0.5);
}

section div p{
    color: #000000;
}

/*section #chat_box{
    margin: 10px;
    padding: 60px;
    height: 480px;             
    border: 2px solid #000000; 
    background-color: #e6e5e5;
}*/

section #chat_box {
    width: 100%;
    height: 450px;
    margin: 0 auto 50px;
    padding: 75px 75px 15px;
    color: white;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 50px;
    box-shadow: 0 10px 100px 25px rgba(48, 48, 48, 0.5);
}

section #barre_box {
    width: 100%;
    height: 450px;
    margin: 0 auto 50px;
    padding: 75px 75px 15px;
    color: white;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 50px;
    box-shadow: 0 10px 100px 25px rgba(48, 48, 48, 0.5);
}

/*section {
    width: 100%;
    height: 150px;
    bottom: 0px;
    padding: 10px;
    background-color: white;
    text-align: center;
}*/

#barre_chat{
    display: inline-block;
    width: 79%;

}

#button_chat{
    display: inline-block;
    width: 19%;
}

footer {
    color: white;
    padding: 50px 50px 0;
    height: 100px;
    background: linear-gradient(135deg, rgba(0,0,0,0.5) 0%, rgba(48,48,48,0.5) 100%);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

footer h4 {
    text-align: center;
}