* {
    margin: 0;
    padding: 0;
    hyphens: none;
    font-family: "Courier", sans-serif;
    text-decoration: none;
}

/*Style for all basic links in the page*/
a {
    color: rgb(48,48,48);
}

a:hover {
    color: rgb(141,164,210);
}

a:active {
    color: rgb(125, 5, 5);
}

a:visited {
    color: rgb(48,48,48);
}

/*Sets the bkg color*/
body {
    background: linear-gradient(180deg, rgba(12,84,96,1) 0%, rgba(55,55,55,1) 100%);
    width: 100%;
}

/*3 columns are created to show different links in the nav bar*/
header {
    position: fixed;
    top: 50px;
    left: 0;
    background: linear-gradient(135deg, rgba(141,164,210,0.50) 0%, rgba(88,101,113,0.50) 100%);
    height: 150px;
    width: 90%;
    border-radius: 150px;
    margin: 0 5%;
    box-shadow: 0 10px 50px rgba(24, 24, 24, 0.8);
}

header div {
    float: left;
    height: 100%;
    width: 33.33%;
    text-align: center;
}

header img {
    display: block;
    margin: auto;
    padding: 45px 0;
    height: 60px;
}

header h1 {
    font-family: "Lato", sans-serif;
    line-height: 150px;
    color: white;
    font-size: 75px;
}

header nav {
    line-height: 150px;
    height: 100%;
    width: 100%;
}

section {
    padding-top: 200px;
}

footer {
    color: white;
    padding: 50px 50px 0;
    height: 100px;
    background: linear-gradient(135deg, rgba(0,0,0,0.5) 0%, rgba(48,48,48,0.5) 100%);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

footer h4 {
    text-align: center;
}

.nav_div {
    float: left;
    width: 50%;
    height: 100%;
}

.nav_div a, .nav_div a:hover, .nav_div a:active, .nav_div a:visited {
    color: white;
}

.nav_div a {
    background: linear-gradient(135deg, rgba(12,12,12,0.5) 0%, rgba(80,80,80,0.5) 100%);
    box-shadow: 5px 5px 25px 0 rgba(24, 24, 24, 0.5);
    padding: 25px;
    border-radius: 150px;
    transition: all 0.5s;
}

.nav_div a:hover {
    background: linear-gradient(135deg, rgba(80,80,80,0.5) 0%, rgba(12,12,12,0.5) 100%);
    padding: 35px;
}

@media screen and (max-width: 1400px) {
    header {
        position: relative;
        margin-bottom: -160px;
        padding-bottom: 45px
    }
    header img {
        padding-left: 15px;
    }
    header h1 {
        text-align: right;
        padding-left:75%;
    }
    .nav_div {
        line-height: 300px;
        padding-left: -150px;
        height: 100%;
        width: 50%;
    }
    #nav_div_signin{
        margin-left: -135%;
    }
    #nav_div_signup {
        margin-left: -35%;
    }
}
@media screen and (max-width: 750px) {
    header {
        position: relative;
        margin-bottom: -160px;
        padding-bottom: 140px;
        border-radius: 100px;
    }
    header img {
        padding-left:25%;
    }
    header h1 {
        margin: 0 -25%;
        padding-left:0%;
        line-height: 310px;
    }
    .nav_div {
        line-height: 470px;
    }
    #nav_div_signin {
        margin-left: -185%;
    }
    #nav_div_signup {
        margin-left: -60%;
    }
}

/*Creates a transparent zone where text can be shown*/
.text_zone {
    color: white;
    margin: 50px auto;
    width: 70%;
    padding: 75px 75px 15px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 50px;
    box-shadow: 0 10px 100px 25px rgba(48, 48, 48, 0.5);
}

/*Allows the creation on new text_zone inside one*/
.text_zone_inside {
    color: white;
    margin: 0 auto 50px;
    width: 70%;
    padding: 75px 75px 15px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 50px;
    box-shadow: 0 10px 100px 25px rgba(48, 48, 48, 0.5);
}

/*Sets the right spacing inside paragraphs in a text_zone*/
.paragraph {
    padding-bottom: 50px;
    line-height: 30px;
}

.paragraph ul {
    margin-left: 50px;
}

#signup {
    margin-left: 30%;
}

#signin {
    margin-right: 30%;
}

/*Window CSS here*/

#background {
    z-index: 2;
    display: none;
    position: fixed;
    background-color: rgba(128,128,128,0.8);
    height: 100%;
    width: 100%;
}

#window {
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 40%;
    padding: 50px;
    background: linear-gradient(180deg, rgba(12,84,96,1) 0%, rgba(55,55,55,1) 100%);
    box-shadow: 0 10px 50px rgba(48, 48, 48, 0.8);
    border-radius: 50px;
    text-align: center;
}

.sign_in_up{
    height: 600px;
    width: 500px;
    background-color: #0c5460;
    box-shadow: 8px 8px 20px rgb(128, 128, 128);
    position: relative;
    overflow: hidden;
}

#button{
    height: 60px;
    width: 320px;
    margin: 2% auto 5% auto;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.signIn-btn, .signUp-btn {
    font-size: 22px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.05);
    position: relative;
    cursor: pointer;
    padding: 20px;
    border-radius: 50px;
    margin: 0 2%;
}

.div_form {
    display: inline-block;
    text-align: center;
}

.signUp_div {
    margin: auto;
    height: 500px;
    width: 50%;
    position: absolute;
    transition: all 0.5s ease-in-out;
    right: 12vw;
}

.signUp_div_move {
    right: 200vw;
}

.signIn_div {
    margin: auto;
    height: 500px;
    width: 50%;
    position: relative;
    transition: all 0.5s ease-in-out;
    left: 200vw;
}

.signIn_div_move {
    left: 0vw;
}

#signIn, #signUp {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
}

#signIn {
    gap: 50px;
}

#signUp {
    gap: 30px;
}

form input{
    display: inline;
    height: 60px;
    width: 80%;
    outline: none;
    border: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 50px;
    padding: 0 10%;
    margin-bottom:5px;
    font-size: 18px;
    text-overflow: ellipsis;
}

form input::placeholder{
    color:#FFFFFF;
}

.formButton {
    margin: 5% 0;
    border: none;
    border-radius: 50px;
    padding: 5% 10%;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, rgb(88, 99, 133) 0%, rgba(93, 109, 141, 0.35) 100%);
}
.formButton:hover{
    font-weight: bold;
    color:white;
    background: linear-gradient(135deg, rgba(100, 125, 150, 0.75) 0%, rgb(93, 109, 141, 0.35) 100%);
    cursor:pointer;
}
