* {
    margin: 0;
    padding: 0;
    hyphens: none;
    font-family: "Courier", sans-serif;
    text-decoration: none;
}

/*Style for all basic links in the page*/
a {
    color: rgb(48,48,48);
}

a:hover {
    color: rgb(141,164,210);
}

a:active {
    color: rgb(125, 5, 5);
}

a:visited {
    color: rgb(48,48,48);
}

/*Sets the bkg color*/
body {
    background: linear-gradient(180deg, rgba(12,84,96,1) 0%, rgba(55,55,55,1) 100%);
    width: 100%;
}

/*3 columns are created to show different links in the nav bar*/
header {
    position: fixed;
    top: 50px;
    left: 0;
    background: linear-gradient(135deg, rgba(141,164,210,0.50) 0%, rgba(88,101,113,0.50) 100%);
    height: 150px;
    width: 90%;
    border-radius: 150px;
    margin: 0 5%;
    box-shadow: 0 10px 50px rgba(24, 24, 24, 0.8);
}

header div {
    float: left;
    height: 100%;
    width: 33.33%;
    text-align: center;
}

header img {
    display: block;
    margin: auto;
    padding: 45px 0;
    height: 60px;
}

header h1 {
    font-family: "Lato", sans-serif;
    line-height: 150px;
    color: white;
    font-size: 75px;
}

header nav {
    line-height: 150px;
    height: 100%;
    width: 100%;
}

section {
    padding-top: 200px;
}

footer {
    color: white;
    padding: 50px 50px 0;
    height: 100px;
    background: linear-gradient(135deg, rgba(0,0,0,0.5) 0%, rgba(48,48,48,0.5) 100%);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

footer h4 {
    text-align: center;
}

.nav_div {
    float: left;
    width: 50%;
    height: 100%;
}

.nav_div a, .nav_div a:hover, .nav_div a:active, .nav_div a:visited {
    color: white;
}

.nav_div a {
    background: linear-gradient(135deg, rgba(12,12,12,0.5) 0%, rgba(80,80,80,0.5) 100%);
    box-shadow: 5px 5px 25px 0 rgba(24, 24, 24, 0.5);
    padding: 25px;
    border-radius: 150px;
}

.nav_div a:hover {
    background: linear-gradient(135deg, rgba(80,80,80,0.5) 0%, rgba(12,12,12,0.5) 100%);
    padding: 35px;
}