<!DOCTYPE html>
<html lang="fr">
    <head>
        {% load static %}

        <meta charset="UTF-8">

        {% block title %}
            <title>N6Chat - {{ channel_name }}</title>
        {% endblock title %}

        {% block css %}
            <link rel="stylesheet" href="{% static 'css/style-chat_channel.css' %}"/>
        {% endblock css %}

        {% block ico %}
            <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
        {% endblock ico %}

        {% csrf_token %}
    </head>
    <body>
        <header>
            <div>
                <a href="https://www.ensisa.uha.fr/" target="_blank">

                    {% block img %}
                    <img src="{% static 'img/ensisa_uha_logo.png' %}" alt="Logo de l'ENSISA">
                    {% endblock img %}

                </a>
            </div>
            <div>
                <a href="/home">
                    <h1>
                        N6Chat
                    </h1>
                </a>
            </div>
            <div id="div_back" class="buttonLien">
                <a href="/chat">Retour</a>
            </div>
            <div id="div_signout" class="buttonLien">
                <a href="/home/signout">Déconnexion</a>
            </div>
        </header>
        <section>
             <div class="panel_zone" id="channels">
                <h2 class="title">
                    >_ Salons :
                </h2>
                {% block channels %}
                    {% for channel in list_channels %}
                        <a class="pill" href="/chat/{{ channel.uuid }}">{{ channel.name }}</a>
                    {% endfor %}
                {% endblock channels %}
            </div>
            <div id="chat_zone">

                {% block channel_name %}
                    <h2 class="paragraph">
                        >_ Bienvenue sur {{ channel_name }} !
                    </h2>
                {% endblock channel_name %}

                <div id="chat_zone_inside">

                    {% block messages %}
                        {% if nb_messages != 0 %}
                            {% for message in list_messages %}
                            <div>
                                {% if username == message.user.username %}
                                    <div class="messages_user">
                                {% else %}
                                    <div class="messages">
                                {% endif %}
                                    <h4>{{ message.user.username }} :</h4>
                                    <p>{{ message.data }}</p>
                                    <h6>{{ message.date }}</h6>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                            <div class="paragraph">
                                <h4>
                                    Il n'y a de messages !
                                </h4>
                                <p>
                                    Laissez un message en écrivant dans la boîte en dessous
                                </p>
                            </div>
                        {% endif %}
                    {% endblock messages %}

                </div>

                <div id="emojis_window">
                    <div id="window_parameter">
                        <button id="close" onclick="close_emoji()">❌</button>
                    </div>
                    <div id="parameters">
                        <button class="emoji_window_parameter" onclick="show_emoji_category(0, 1791)">✳️</button>
                        <button class="emoji_window_parameter" onclick="show_emoji_category(0, 97)">😀</button>
                        <button class="emoji_window_parameter" onclick="show_emoji_category(98, 356)">👤</button>
                        <button class="emoji_window_parameter" onclick="show_emoji_category(357, 561)">👍</button>
                        <button class="emoji_window_parameter" onclick="show_emoji_category(562, 579)">❤️</button>
                        <button class="emoji_window_parameter" onclick="show_emoji_category(580, 686)">🐔</button>
                        <button class="emoji_window_parameter" onclick="show_emoji_category(687, 775)">🍴</button>
                        <button class="emoji_window_parameter" onclick="show_emoji_category(776, 899)">🚀</button>
                        <button class="emoji_window_parameter" onclick="show_emoji_category(900, 977)">⏰</button>
                        <button class="emoji_window_parameter" onclick="show_emoji_category(978, 1098)">🏅</button>
                        <button class="emoji_window_parameter" onclick="show_emoji_category(1099, 1327)">🎉</button>
                        <button class="emoji_window_parameter" onclick="show_emoji_category(1328, 1530)">📶</button>
                        <button class="emoji_window_parameter" onclick="show_emoji_category(1530, 1791)">🎌</button>
                    </div>
                </div>
                <label for="chat_box"></label>
                <input type="text" id="chat_box" name="chat_box" maxlength="300">
                <button id="emoji_btn" onclick="show_emoji()">😀</button>
            </div>
            <div class="panel_zone" id="members">
            <h2 class="title">
                    >_ Membres :
                </h2>
                {% block members %}
                    {% for member in list_members %}
                        {% if member.username == owner %}
                            <p class="pill">Créateur : {{ member.username }}</p>
                        {% else %}
                            <p class="pill">{{ member.username }}</p>
                        {% endif %}
                    {% endfor %}
                {% endblock members %}
            </div>
            <div class="text_zone">
                <h2 class="paragraph">
                    >_ Espace administration :
                </h2>
                <div class="text_zone_inside">
                    <h3 class="paragraph">
                        >_ Ajoutez une nouvelle personne à ce salon :
                    </h3>
                    <div class="paragraph">
                        <label for="add_user"></label>
                        <input type="text" class="input" id="add_user" maxlength="20">
                    </div>
                </div>
                <div class="text_zone_inside">
                    <h3 class="paragraph">
                        >_ Bannissez une personne de ce salon :
                    </h3>
                    <div class="paragraph">
                        <label for="ban_user"></label>
                        <input type="text" class="input" id="ban_user" maxlength="20">
                    </div>
                    <h3 class="paragraph">
                        >_ Débannissez une personne de ce salon :
                    </h3>
                    <div class="paragraph">
                        <label for="unban_user"></label>
                        <input type="text" class="input" id="unban_user" maxlength="20">
                    </div>
                </div>
                <div class="text_zone_inside">
                    <h3 class="paragraph">
                        >_ Expulsez une personne du salon :
                    </h3>
                    <div class="paragraph">
                        <label for="rem_user_channel"></label>
                        <input type="text" class="input" id="rem_user_channel" maxlength="20">
                    </div>
                </div>
            </div>
            <div id="leave">
                <a href="#" onclick="send_leave()">Quitter ce salon</a>
            </div>
        </section>
        <footer>
            <h4>Tous droits réservés.</h4>
        </footer>

        {% block script %}
            <script src="{% static 'js/csrftoken.js' %}"></script>
            <script src="{% static 'js/jquery-3.6.3.js' %}"></script>
            <script src="{% static 'js/traitement-msg.js' %}"></script>
        {% endblock %}

    </body>
</html>