<!DOCTYPE html>
<html lang="fr">
    <head>
        {% load static %}

        <meta charset="UTF-8">
        <title>Chat - N6Chat</title>

        {% block ico %}
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
        {% endblock ico %}

        {% block css %}
        <link rel="stylesheet" href="{% static 'css/style-chat.css' %}"/>
        {% endblock %}

    </head>
    <body>
        <header>
            <div>
                <a href="https://www.ensisa.uha.fr/" target="_blank">

                    {% block img %}
                    <img src="{% static 'img/ensisa_uha_logo.png' %}" alt="Logo de l'ENSISA">
                    {% endblock img %}

                </a>
            </div>
            <div>
                <a href="">
                    <h1>
                        N6Chat
                    </h1>
                </a>
            </div>
            <div>
                <nav>
                    <div class="nav_div">
                        <a href="/home/signout">Déconnexion</a>
                    </div>
                </nav>
            </div>
        </header>
        <section>

        </section>
        <footer>
            <h4>Tous droits réservés.</h4>
        </footer>

        {% block script %}
            <script src="{% static 'js/csrftoken.js' %}"></script>
            <script src="{% static 'js/jquery-3.6.3.js' %}"></script>
            <script src="{% static 'js/index.js' %}"></script>
            <script src="{% static 'js/traitement.js' %}"></script>
        {% endblock %}

    </body>
</html>
