<!DOCTYPE html>
<html lang="fr">
    <head>
        {% load static %}

        <meta charset="UTF-8">
        <title>Chat - N6Chat</title>

        {% block ico %}
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
        {% endblock ico %}

        {% block css %}
        <link rel="stylesheet" href="{% static 'css/style-chat.css' %}"/>
        {% endblock %}

    </head>
    <body>
        <header>
        <div id="div_title">
            <h2>
                N6Chat
            </h2>
        </div>
        <div id="div_signout">
            <a href="/home/signout" id="signout">Déconnexion</a>
        </div>
        </header>
        <section>

        </section>
        <footer>
            <h4>Tous droits réservés.</h4>
        </footer>

        {% block script %}
            <script src="{% static 'js/csrftoken.js' %}"></script>
            <script src="{% static 'js/jquery-3.6.3.js' %}"></script>
            <script src="{% static 'js/index.js' %}"></script>
            <script src="{% static 'js/traitement.js' %}"></script>
        {% endblock %}

    </body>
</html>
