<!DOCTYPE html>
<html lang="fr">
    <head>
        {% load static %}

        <meta charset="UTF-8">
        <title>Chat - N6Chat</title>

        {% block css %}
        <link rel="stylesheet" href="{% static 'css/style-chat.css' %}"/>
        {% endblock %}

    </head>
    <body>

        <header>
            <a href="/home">
                <h2>
                    N6Chat - Web_Chat
                </h2>
            </a>
        </header>
        <section>

            <div id="zone_salons">
                <textarea id="barre_salon" placeholder="Créer salon"></textarea>
                <div class="salon">
                    <a href="google.com">>_ Accueilaaa</a>
                </div>
                <div class="salon">
                    <a>>_ Salon 1</a>
                </div>
                <div class="salon">
                    <a>>_ Salon 2</a>
                </div>
            </div>
            <div id="text_zone">
                <h3 class="paragraph">
                    >_ Bienvenue sur le salon XXX
                </h3>
                <div id="zone_msg">
                    <p>(hh:mm PM) <span>User_1</span>: Hello world</p>
                    <p>(hh:mm PM) <span>User_2</span>: Je répond</p>
                    <p>(hh:mm PM) <span>User_1</span>: Hello world</p>
                    <p>(hh:mm PM) <span>User_2</span>: Je répond</p>
                    <br/>
                    <p id="date"></p>
                </div>            
                <div id="barre_box">
                    <textarea id="barre_chat" placeholder="Envoyer un message"></textarea>
                    <input type="submit" name="envoie" value="envoyer" id="button_chat" />
                </div>
            </div>

            <div id="zone_membres">
                <textarea id="barre_membre" placeholder="invité user"></textarea>
                <div class="membre">
                    <a href="URL">>_ Toi</a>
                </div>
                <div class="membre">
                    <a href="URL">>_ Membre 1</a>
                </div>
            </div>


            {% block js %}
            <script src="{% static 'js/jquery-3.6.3.js' %}"></script>
            <script src="{% static 'js/traitement-msg.js' %}"></script>
            {% endblock %}

        </section>
        <footer>
            <h4>Tous droits réservés.</h4>
        </footer>
    </body>
</html>
