<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}

    {% block ico %}
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
    {% endblock ico %}

    <meta charset="UTF-8">
    <title>Erreur</title>
</head>
<body style="background-color: black">
    <h1 style="color: white; text-align: center; font-size: 50px; font-family: 'Lato', sans-serif;">
        >_ Vous vous êtes perdu ?
    </h1>
    {% block img %}
        <img src="{% static 'img/lost_cat.png' %}" alt="Are you lost?" style="display: block; margin: auto auto 75px;border-radius: 150px;"/>
    {% endblock img %}
    <p style="color: white; text-align: center; font-size: 25px; font-family: 'Courier', sans-serif;">
        Cliquez
        <a href="/home" style="text-decoration: none;">
            ici
        </a>
        pour revenir à la maison</p>
</body>
</html>